*{
  margin: 0;
}
.header{
  height: 80px;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header>ul{
  display: flex;
  flex-direction: row;
}
.header>ul>li{
  margin-right: 40px;
  list-style: none;
}
.header>ul>li>a{
  text-decoration: none;
}
.outlet{
  display: flex;
  justify-content: center;
}
.card{
  height: 200px;
  width: 150px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding:10px;
}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}
.card-container>a{
  text-decoration: none;
  color: black;
}